<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         name="Annotation Tool"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="at.tuwien.dbai.bladeRunner.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="at.tuwien.dbai.bladeRunner.AnnotationPerspective"
            fixed="true"
            id="at.tuwien.dbai.bladeRunner.annotationPerspective"
            name="Annotation Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="at.tuwien.dbai.bladeRunner.annotationPerspective">
         <view
               closeable="false"
               id="at.tuwien.dbai.bladeRunner.views.benchmark"
               moveable="false"
               ratio="0.4"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false">
         </view>
         <view
               id="at.tuwien.dbai.bladeRunner.selectionView"
               minimized="false"
               moveable="false"
               ratio="0.4"
               relationship="bottom"
               relative="at.tuwien.dbai.bladeRunner.views.benchmark"
               showTitle="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="at.tuwien.dbai.bladeRunner.views.bench.BenchmarkNavigatorView"
            id="at.tuwien.prip.bladeRunner.views.benchmark"
            name="Files"
            restorable="false">
      </view>
      <view
            class="at.tuwien.dbai.bladeRunner.views.SelectionImageView"
            id="at.tuwien.dbai.bladeRunner.selectionView"
            name="SelectionView"
            restorable="true">
      </view>
      <view
            class="at.tuwien.dbai.bladeRunner.views.bench.BenchmarkNavigatorView"
            id="at.tuwien.dbai.bladeRunner.views.benchmark"
            name="Navigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="at.tuwien.prip.docwrap.annotator.openFileCommand"
                  icon="icons/eclipseUI/obj16/fldr_obj.gif"
                  label="Open File"
                  style="push"
                  tooltip="Open a file">
            </command>
            <command
                  commandId="at.tuwien.prip.docwrap.annotator.loadBenchmark"
                  icon="icons/eclipseUI/obj16/file_obj.gif"
                  label="Open ZIP"
                  style="push">
            </command>
            <separator
                  name="at.tuwien.prip.annotator.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/eclipseUI/obj16/delete_obj.gif"
                  label="Exit Annotator">
            </command>
         </menu>
         <menu
               label="Tools"
               mnemonic="T">
            <command
                  commandId="at.tuwien.dbai.annotator.createReport"
                  label="Create Report"
                  style="push">
            </command>
            <separator
                  name="at.tuwien.prip.annotator.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="at.tuwien.prip.docwrap.annotator.showPrefs"
                  icon="icons/eclipseUI/elcl16/gnome_preferences_system.png"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="at.tuwien.dbai.bladeRunner.editors.annotator.DocWrapEditor"
            default="false"
            filenames="*.docmodel"
            id="at.tuwien.dbai.bladeRunner.docEditor"
            name="DocGraph Editor">
      </editor>
      <editor
            class="at.tuwien.dbai.bladeRunner.editors.AnnotatorEditor"
            default="false"
            id="at.tuwien.dbai.bladeRunner.wrapperEditor"
            name="Benchmark Editor">
      </editor>
      <editor
            class="at.tuwien.dbai.bladeRunner.editors.annotator.WeblearnEditor"
            default="false"
            id="at.tuwien.prip.bladeRunner.editors.weblearnEditor"
            name="HTML Editor">
      </editor>
      <editor
            class="at.tuwien.dbai.bladeRunner.editors.AnnotatorEditor"
            default="false"
            id="at.tuwien.dbai.bladeRunner.wrapperEditor"
            name="Annotation">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="at.tuwien.prip.docwrap.annotator.exitCommand"
            name="Exit Command">
      </command>
      <command
            defaultHandler="at.tuwien.dbai.bladeRunner.commands.FileOpen"
            description="Open a file"
            id="at.tuwien.prip.docwrap.annotator.openFileCommand"
            name="Open File Command">
      </command>
      <command
            defaultHandler="at.tuwien.dbai.bladeRunner.commands.LoadBenchmark"
            id="at.tuwien.prip.docwrap.annotator.loadBenchmark"
            name="Load Benchmark">
      </command>
      <command
            defaultHandler="at.tuwien.dbai.bladeRunner.commands.OpenPreferencePage"
            id="at.tuwien.prip.docwrap.annotator.showPrefs"
            name="Preferences">
      </command>
      <command
            defaultHandler="at.tuwien.dbai.bladeRunner.commands.SaveCommand"
            id="at.tuwien.prip.docwrap.annotator.saveCommand"
            name="Save Command">
      </command>
      <command
            defaultHandler="at.tuwien.dbai.bladeRunner.commands.AddAnnotationCommand"
            id="at.tuwien.prip.annotator.commands.addAnnotation"
            name="Add Result">
      </command>
      <command
            defaultHandler="at.tuwien.dbai.bladeRunner.commands.AddGroundTruthCommand"
            id="at.tuwien.prip.annotator.commands.addGroundTruth"
            name="Add Ground Truth">
      </command>
      <command
            defaultHandler="at.tuwien.dbai.bladeRunner.commands.CreateReportCommand"
            id="at.tuwien.dbai.annotator.createReport"
            name="Create Report">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="at.tuwien.prip.docwrap.annotator.deactivateSearch"
            name="Deactivate Search">
      </activity>
      <activityPatternBinding
            activityId="at.tuwien.prip.docwrap.annotator.deactivateSearch"
            pattern="org.eclipse.search.*">
      </activityPatternBinding>
      <activity
            id="at.tuwien.prip.docwrap.annotator.deactivateConsole"
            name="Deactivate Console">
      </activity>
      <activityPatternBinding
            activityId="at.tuwien.prip.docwrap.annotator.deactivateConsole"
            pattern="org.eclipse.ui.internal.*">
      </activityPatternBinding>
      <activity
            id="at.tuwien.prip.docwrap.annotator.deactivateRun"
            name="Deactivate Run">
      </activity>
      <activityPatternBinding
            activityId="at.tuwien.prip.docwrap.annotator.deactivateRun"
            pattern="org.eclipse.ui.run">
      </activityPatternBinding>
      <activity
            id="at.tuwien.prip.docwrap.annotator.deactivateSample"
            name="Deactivate Sample">
      </activity>
      <activityPatternBinding
            activityId="at.tuwien.prip.docwrap.annotator.deactivateSample"
            pattern="org.eclipse.gmf.examples.*">
      </activityPatternBinding>
      <defaultEnablement
            id="at.tuwien.prip.docwrap.annotator.deactivateRun">
      </defaultEnablement>
      
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="at.tuwien.dbai.bladeRunner.preferences.DocWrapPreferencePage"
            id="at.tuwien.prip.docwrap.annotator.prefPageA"
            name="DocWrap preference page">
      </page>
      <page
            class="at.tuwien.dbai.bladeRunner.preferences.WeblearnPreferencePage"
            id="at.tuwien.prip.docwrap.annotator.prefPageB"
            name="Weblearn preference page">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="at.tuwien.dbai.bladeRunner.preferences.PrefInitializer">
      </initializer>
   </extension>
   <extension
         name="Weblearn Project View 2"
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="at.tuwien.prip.docwrap.annotator.views.projectNavigationView">
         <includes>
            <contentExtension
                  pattern="at.tuwien.prip.docwrap.annotator.navigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="at.tuwien.prip.docwrap.annotator.views.projectNavigationView">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         id="annotationProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="at.tuwien.dbai.annotator.application"
            name="Annotator">
         <property
               name="appName"
               value="Annotator">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="at.tuwien.dbai.bladeRunner.utils.CustomSplashHandler"
            id="at.tuwien.prip.docwrap.annotator.splashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="at.tuwien.prip.docwrap.annotator.product"
            splashId="at.tuwien.prip.docwrap.annotator.splashHandler">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="at.tuwien.dbai.bladeRunner.DocWrapStartUp">
      </startup>
   </extension>

</plugin>
