<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="ATF Target Platform">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.emf.ecore.feature.group" version="2.5.0.v200906151043"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.5.0.v200906151043"/>
<repository location="http://download.eclipse.org/modeling/emf/updates/releases/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.swt.tools" version="3.5.0.0"/>
<repository location="http://www.eclipse.org/swt/updates/3.5"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.mozilla.xpcom.feature.feature.group" version="1.9.1.0_v20090825-1855-27801aw311A193502411"/>
<unit id="org.mozilla.xulrunner.feature.feature.group" version="1.9.1.0_v20090825-1855-57Z379OhF77g7cFR37gN7"/>
<repository location="http://downloads.zend.com/atf"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.1.1.v200908120400-7R77FSpEVw2xXR0CtKvX6bG6a2qU"/>
<repository location="http://download.eclipse.org/webtools/updates/"/>
</location>
</locations>
</target>
